#boutonAjout {
  background-color:green;
  border: none;
  border-radius:50px;
  text-decoration : none;
  width:100px;
  height:100px;
  position: absolute;
  bottom: 60px;
  right: 50px;
  font-size: 60px;
}

#boutonAjout2 {
  background-color:grey;
  border: none;
  border-radius:50px;
  text-decoration : none;
  width:100px;
  height:100px;
  position: absolute;
  bottom: 60px;
  right: 50px;
  font-size: 60px;
}
