#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.label{
  text-align: left;
}

#btn{
  position: absolute;
  bottom: 25%;
  width: 100%;
}
